html {
    background-color: #282828dc;
}

div {
    color: white;
}

.outer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.outerPop {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 50px;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pop {
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: #a0a0a0;
    ;
    margin: 15px;
    margin-top: 0px;
    cursor: pointer;
}

.pop:hover {
    background-color: #868686;
}

.popSubText {
    word-wrap: break-word;
    width: 700px;
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: #676767;
    margin-bottom: 20px;
}

.popSubImage {
    margin-bottom: 20px;
}

.buttonArray {
    display: flex;
    flex-direction: row;
}

.loss {
    background-color: #834545;
    margin: 5px;
    margin-bottom: 15px;
}

.loss:hover,
.loss:focus,
.loss:active {
    background-color: #5a2e2e;
}





.subTitle {
    margin-bottom: 15px;
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #5d5d5d;
}

.display {
    margin-top: 10px;
}

.finalButtons {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 0px;
}

.clear .submit {
    margin-bottom: 0px;
}

.rankImg {
    height: 50px;
    width: 50px;
}

.score {
    font-size: 40px;
    margin-left: 20px;
}

.big {
    display: flex;
    margin-top: 10px;
}

.output {
    margin-top: 30px;
}

.rankBig {
    font-size: 30px;
    font-weight: bold;
}
